<h4>List of products</h4>
<app-product *ngFor="let product of products" [product]="product" (productChanged)="productChanged($event)"></app-product>
<h4>List of filtered</h4>
<app-product *ngFor="let product of promotedProducts" [product]="product" [filtered]="true"></app-product>
<h4>List of filtered by tag</h4>
<input [ngModel]="value" (ngModelChange)="filterByTag($event)">
<app-product *ngFor="let product of filteredProductsByTag" [product]="product" [filtered]="true"></app-product>

<h4>List of filtered by name</h4>
<input type="text" [formControl]="searchInput">
<button (click)="sortByPrice()">Sortuj po cenie: {{ sortTranslate[sort] }}</button>
<app-product *ngFor="let product of filteredProducts" [product]="product" [filtered]="true"></app-product>
