<div class="product">
  <h6>{{ product.name }}, <input *ngIf="!filtered" type="checkbox" [(ngModel)]="product.isPromoted" (ngModelChange)="productChangedCall($event)" /></h6>
  <div>{{ product.description }}, Price: <span>{{ product.price }}</span></div>
  <div>Tags: <em *ngFor="let tag of product.tags"><u>{{ tag }}</u>, </em></div>
</div>
